
<head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
<body>
    
<main>
    <div class="p-5 mb-4 bg-success rounded-3" text-aling="justify">
      <div class="container-fluid py-5 text-white">
        <h1 class="display-5 fw-bold">BIENVENIDOS..</h1>
        <img  src="../../../assets/jugador1.jpg " align="right">
        <p class="col-md-8 fs-4" text-aling="justify">Bienvenidos a la Web de Proyecto Juegos, en esta pagina encontraras distinta informacion, por ejemplo: Quien soy, Juegos, Listados y Estadistica sobre todos los juegadores. Espero que te guste.. Buena Suerte...</p>
        <button class="btn btn-outline-light" type="button">Quien soy..</button>
      </div>
    </div>

    <div class="row align-items-md-stretch" >
      <div class="col-md-6" >
        <div class="h-100 p-5 text-white bg-secondary rounded-3">
          <h2>Sala de Juegos</h2>
          <img  src="../../../assets/saladeJuegosImagen.svg " align="right" height="200" width="250">
          <p>En este sector veras un montón de juegos que se encuentran en la página principal y las distintas categorías en las que el sitio los tiene organizados</p>
          <button class="btn btn-outline-light" type="button"  routerLink="/juegos" routerLinkActive="active">Ver mas..</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-primary border rounded-3 text-white">
          <h2>Listados y Estadisticas</h2>
          <p>En este sector encontraras informacion sobre los distintos jugadores. Puntos Estadisticas etc...</p>
          <img  src="../../../assets/estadisticas.png" align="center" height="150" width="350">
          <br><br>
          <button class="btn btn-outline-light" type="button">Ver mas...</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  
</main>


    
  </body>
